[user]
	name = markokajzer
	email = markokajzer91@gmail.com
[includeIf "gitdir:~/projects/fleetbutler/"]
	path = .gitconfig-moqo
[includeIf "gitdir:~/projects/jimdo/"]
	path = .gitconfig-jimdo
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[push]
	default = simple
[core]
	excludesfile = /Users/marko/.gitignore
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
